body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#form-novo-gasto,
#form-buscar-gasto {
    margin-bottom: 20px;
}

#form-novo-gasto,
#form-buscar-gasto,
#lista-gastos {
    width: 80%;
    margin: 0 auto;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#mensagem-cadastro {
    margin-top: 10px;
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

.info {
    color: blue;
}

#lista-gastos-agrupados {
    list-style-type: none;
    padding: 0;
}

#lista-gastos-agrupados h3 {
    margin-top: 20px;
}

#lista-gastos-agrupados ul {
    margin-top: 10px;
}

#lista-gastos-agrupados li {
    margin-bottom: 5px;
}

#lista-gastos-agrupados li button {
    margin-left: 10px;
}
